
{% extends "admin/base_site.html" %}
{% load l10n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            Assign these entries to an organisation in bulk:
        </p>
        <p>Assign {{ entries.count }} entries to a new organisation.</p>
        {% for entry in entries %}
            <input type="hidden" name="_selected_action" value="{{ entry.pk|unlocalize }}"/>
        {% endfor %}

        <input type="hidden" name="action" value="assign_organisation"/>
        <label for="organisation">Organisation</label>
        <select name="organisation" id="organisation">
            {% for organisation in organisations %}
                <option value="{{ organisation.id }}">
                    {{ organisation.name }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" name="apply" value="Assign organisation"/>
    </form>
{% endblock %}
